# Week 1 handin

## 01 Assignment

## 02 Status
I have completed all the mandatory tasks however, I struggled with the extra task and finally decided to remove it. I have fought A LOT with these tasks, then I found out theres a lot of getting started tasks prior to this one in the notebook. So I guess I learned that the hard way, ahah.

## Excercise 1

In [4]:
# 1 A Iterate a list of names to return a list of the names starting with H
names = ['Hans Erik', 'Julia', 'Svaneke', 'Henriette', 'Carl']
start_letter = 'H'
result = [x for x in names if x[0].lower() == start_letter.lower()]
print(str(result))

['Hans Erik', 'Henriette']

In [3]:
# 1 B -- In one line create a list of the numbers 1-100 to the power of 3
my_numbers = [x**3 for x in range(100)]
print(my_numbers)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299]

In [7]:
# 1 C -- Iterate a list of names to create a list of tuples 
#        where the tuples first value is the length of the name and the second is the name
names = ['Hans Erik', 'Julia', 'Svaneke', 'Henriette', 'Carl']
result = [len(name) for name in names]
with_number = zip(result, names)
list(with_number)

[(9, 'Hans Erik'), (5, 'Julia'), (7, 'Svaneke'), (9, 'Henriette'), (4, 'Carl')]

In [ ]:
# 1 D -- Iterate over each character in a string and get only those that are nummeric

In [8]:
# 1 E -- Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice 
#        (hint use 2 for loops in a single list comprehension)
dice_combinations = [(d1, d2) for d1 in range(1, 7) for d2 in range(1, 7)]
list(dice_combinations)

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)]

## Excercise 2

In [9]:
# 2 A -- Iterate a list of names and create a dictionary where key is the name and value is the length of the name
key = ['Hans Erik', 'Julia', 'Svaneke', 'Henriette', 'Carl']
value = [len(key) for key in names]

dictionary = dict(zip(key, value))
print(dictionary)

{'Hans Erik': 9, 'Julia': 5, 'Svaneke': 7, 'Henriette': 9, 'Carl': 4}

In [11]:
# 2 B -- Iterate a list of numbers and create a dictionary with {key:value} being {number:squareroot_of_number}
import math

key = [1,2,3,4,5,6,7,8,9,10, 16]
value = [math.sqrt(n) for n in key]
dictionary2 = dict(zip(key, value))
print(dictionary2)

{1: 1.0, 2: 1.4142135623730951, 3: 1.7320508075688772, 4: 2.0, 5: 2.23606797749979, 6: 2.449489742783178, 7: 2.6457513110645907, 8: 2.8284271247461903, 9: 3.0, 10: 3.1622776601683795, 16: 4.0}