# Week 1 handin

## 01 Assignment

## 02 Status
Here is a status on the handin. How far you got. What is implemented and what is not

## Excercise 1

In [5]:
# 1 A Iterate a list of names to return a list of the names starting with H
names = ['Hans Erik', 'Julia', 'Svaneke', 'Henriette', 'Carl']
 
names

['Hans Erik', 'Julia', 'Svaneke', 'Henriette', 'Carl']

In [19]:
# 1 B -- In one line create a list of the numbers 1-100 to the power of 3
##my_list = list(range(0,100))
Power = [x**3 for x in range (100)]
Power

[0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299]

In [ ]:
# 1 C -- Iterate a list of names to create a list of tuples 
#        where the tuples first value is the length of the name and the second is the name

In [ ]:
# 1 D -- Iterate over each character in a string and get only those that are nummeric

In [ ]:
# 1 E -- Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice 
#        (hint use 2 for loops in a single list comprehension)

## Excercise 2

In [ ]:
# 2 A -- Iterate a list of names and create a dictionary where key is the name and value is the length of the name

In [ ]:
# 2 B -- Iterate a list of numbers and create a dictionary with {key:value} being {number:squareroot_of_number}